/* common style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}
/* header style */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 87px;
  gap: 494px;
}
.header-title {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
.header-item {
  display: flex;
  gap: 34px;
}
.header-item a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  
}

/* main section */

/* banner part */
.banner-container {
  margin-top: 145px;
  display: flex;
  align-items: center;
  gap: 125px;
}
.short-description {
  margin-left: 120px;
  text-align: left;
}
.short-description .title {
  font-weight: 800;
  font-size: 52px;
  color: #3a3a3a;
}
.short-description .description {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  height: 60px;
  width: 505px;
}
.banner-photo {
  margin-right: 128px;
  padding: 30px 37px 31px 0px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  margin-bottom: 70px;
}
.banner-photo img bac {
  width: 440px;
  height: 414px;
  background-image: url();
}
.preebook-now {
  /* margin-top: 16px; */
  display: flex;
  align-items: center;
  gap: 8px;
  width: 121px;
  height: 48px;
  flex-direction: row;
  padding: 10px 24px;
  background: #e02c6d;
  border-radius: 41px;
}
.preebook-now p {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
/* phptp gallary */
.phot-gallary {
  display: flex;
  height: 40px;
  gap: 60px;
  align-items: center;
  height: 35px;
  margin-left: 227px;
  margin-right: 225px;
  /* padding: ; */
}
.phot-gallary img {
  height: 28px;
  width: 100%;
}

/* populer collection  style*/
.popular-collection{
  text-align: center;
  margin-top: 100px;
}
.popular-item-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-left: 197px;
  margin-right: 196px;
}
.popular-item{
  padding: 17px;
  background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
text-align: left;
}
.popular-item img{
  width: 100%;
}
.item-title {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
}
.price {
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 6px;
  margin-bottom: 0PX;
}
.rating{
  display: flex;
  gap: 8px;
  padding: 5px;
  align-items: center;
  
}
.rating .star{
  color: gold;
  font-size: 16px;
}
